# Python virtual environments
venv/
.venv/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/

# Pytest cache
.pytest_cache/

# IDEs and editors
.vscode/
.idea/

# Environment variables
.env
.env.*

# Jupyter
.ipynb_checkpoints/

# cache
cache/